@tailwind base;
@tailwind components;
@tailwind utilities;



.navcolor{
  color: inherit;
  text-decoration: none;
}

.light {
  background-color: white;
  color: #111;
}

.dark {
  background-color: #111;
  color: #bbb;
}

.theme{
  transition: 1s all ease;
}
